<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Change Verification</title>
</head>
<body>
<p>Hi <span th:text="${name}"></span>!</p>
<p>You are about to change your password.</p>
<p>To proceed, please go to this link:</p>

<p>
<!--    todo move this to external variable //done-->
    <a th:href="@{passwordChangingLink}"
       target="_blank">Change Password</a>
</p>

<p>and enter your verification code:</p>

<p>Verification Code: <span th:text="${verificationCode}"></span></p>

<p>If it wasn't you, just ignore this message.</p>
</body>
</html>
