<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sale Notification</title>
</head>
<body>
<p>Hi <span th:text="${name}">User</span>!</p>
<p>Some products that you were looking for are available now:</p>
<ul>
    <li th:each="product : ${products}">
        <a th:href="@{${productRetrievingLink} + ${product.id}}">
            <span th:text="${product.name}">Product Name</span>
        </a>
        <!-- Додайте обробку картинки, якщо це необхідно -->
        <!-- <img th:src="@{'http://localhost:8080/online-shop/files/' + ${product.imagePath}}" alt="${product.name}"> -->
    </li>
</ul>
</body>
</html>
