<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sale Notification</title>
</head>
<body>
<p>Hi <span th:text="${name}">User</span>!</p>
<p>Some products from your wishlist are now on sale:</p>
<ul>
    <li th:each="product, iterStat : ${products}">
        <a th:href="@{wishlistProductsOnSaleNotificationLink + ${product.id}}">
            <span th:text="${product.name}">Product Name</span>
        </a>
        <img th:src="@{'http://localhost:8080/online-shop/files/' + '74a6b5cd-c2ef-316d-a31d-3fa79dd8a4ec'}" alt="${product.name}">
    </li>
</ul>
</body>
</html>
