<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sale Notification</title>
</head>
<body>
<p>Hi <span th:text="${name}">User</span>!</p>
<p>Some products from your wishlist are now on sale:</p>
<ul>
    <li th:each="product, iterStat : ${products}">
        <a th:href="@{'http://localhost:8080/online-shop/products/' + ${product.id}}">
            <span th:text="${product.name}">Product Name</span>
        </a>
    </li>
</ul>
</body>
</html>
